<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="shortcut icon" href="https://laliteradice.files.wordpress.com/2023/04/imagen-6.png?w=1024" />
    <title>Telcel</title>
    <style>
        body{
            background-color: #FFF;
        }
        input[type="submit"]{
            background-color: #008000;
            color: #FFF;
        }
        footer {
            padding-top: 30px;
            background-color: #292c2f;
            color: #bbb;
        }
        img{
            width: 20%;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            border-radius: 8px;
        }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .delete, .edit{
            outline: none;
            text-decoration: none;
            padding: 2px 1px 0;
        }
    </style>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Telcel</h1>
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a href="/" data-icon="home">Home</a></li>
                    <li><a href="/phones" data-icon="phone" class="ui-btn-active">Phones</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true" id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren"></div>
              <% phones.forEach((phone) => { %>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-header">
                        <ul class="list-group list-group-flush">
                            <h1><%= phone.model %></h1>
                            <li class="list-group-item">Codigo de Barras: <%= phone.barcode %></li>
                            <li class="list-group-item">Tamaño: <%= phone.size %></li>
                            <li class="list-group-item">Modelo: <%= phone.model %></li>
                            <li class="list-group-item">Costo: <%= phone.cost %></li>
                            <li class="list-group-item">Existencia: <%= phone.stock %></li>
                            <li class="list-group-item"><%= (phone.status == 0) ? "No Disponible" : "Disponible" %></li>
                          </ul>
                          <div class="d-flex justify-content-between align-items-center">
                            <a href="/<%= phone.barcode %>" class="ui-btn ui-corner-all" style="background-color: #FFFF00; color: #000;">Editar</a>
                            <a href="/delete/<%= phone.barcode %>" class="ui-btn ui-corner-all" style="background-color: #FF0000; color: #000;">Eliminar</a>
                          </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
    </div>
</body>

</html>
